/* Website */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url(./img/background.jpg);
}

/* Calculator */

.calc-container {
    margin: 20px;
    padding: 20px;
    background-color: black;
    border: 3px solid rgb(99, 64, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px black;
    width: 430px;
    height: 670px;
    display: flex;
    flex-direction: column;
}

/* Display */

.display-container {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
}

input {
    background-color: black;
    width: 100%;
    border: 0px;
}

.calc-display {
    font-size: 1.4em;
}

.result-display {
    font-size: 2em;
    text-align: end;
}

/* Buttons */

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button-container div {
    flex-basis: 25%;
    padding: 5px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 0px;
    aspect-ratio: 1/1;
    font-size: 2.5em;
}

.special {
    background-color: grey;
    color: black;
}

.operator  {
    background-color: orange;
}

.number {
    background-color: rgb(49, 49, 49);
}

#zero, #clear {
    flex-basis: 75%;
}

#zero button, #clear button {
    aspect-ratio: unset;
}